<div class="mat-all-users">
  <div class="title-criterion">
    <div class="mat-first-name position">First name</div>
    <div class="mat-last-name position">Last name</div>
    <div class="mat-create-at position">Created at</div>
    <div class="mat-email position">Email</div>
    <div class="mat-tags position">Tags</div>
    <div class="mat-description position">Description</div>
  </div>

  <app-user-info
    *ngFor="let user of paginatedUsers"
    [user]="user"
  ></app-user-info>
</div>

<div class="mat-actions-users">
  <mat-paginator
    [length]="users.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
