<div class="mat-all-users">
  <div class="title-criterion">
    <div class="mat-index position">#</div>
    <div class="mat-first-name position">First name</div>
    <div class="mat-last-name position">Last name</div>
    <div class="mat-phone-number position">Phone Number</div>
    <div class="mat-search">
      <input
        type="text"
        placeholder="Search user by name"
        [(ngModel)]="searchTerm"
        (input)="filterUsers()"
        class="search-input"
      />
    </div>
  </div>

  <app-user-info
    *ngFor="let user of paginatedUsers; let i = index"
    [user]="user"
    [index]="i + 1"
  ></app-user-info>
</div>

<div class="mat-actions-users">
  <mat-paginator
    [length]="filteredUsers.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
