.banner {
  width: 96%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

  img {
    height: 100%;
  }

  .userImg {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
  }
}

.mat-content {
  height: 200px;
  width: 96%;
  padding: 0 2%;

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    height: 150px;
    margin-top: 2px;
    margin-bottom: 1%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: "Domine", serif;
      font-weight: 700;
      font-size: 45px;
      margin: 0;
      padding: 0;
    }

    button {
      height: 80px;
      width: 250px;
      font-size: 18px;
      font-weight: bold;
      color: white;
      background-color: #279df4;
      border-radius: 25px;
      margin: 0;

      &:hover {
        background-color: #1c7ec0;
      }
    }
  }
}