<div class="title-criterion">
  <div class="mat-index position">{{ index }}</div>
  <div class="user-field positions">
    {{ user.firstName }}
  </div>
  <div class="user-field positions">
    {{ user.lastName }}
  </div>
  <div class="user-field positions">
    {{ user.phoneNumber }}
  </div>
  <div class="mat-actions">
    <button
      mat-fab
      class="edit-button"
      aria-label="Edit"
      (click)="openPersonalInformation(user)"
    >
      <mat-icon>storage</mat-icon>
      More info
    </button>
  </div>
</div>
